<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Store</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand fs-1" >
            Freecycle
          </a>
        </div>
      </nav>
    <style>
        body {
            background-color: #f4f4f4;
        }
        .header {
            background-color: #343a40;
            color: #ffffff;
            padding: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        .form-container {
            padding: 20px;
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
        .item-card {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #eee;
            border-radius: 5px;
            background-color: #fff;
        }
    </style>
</head>
<body>
<script type="importmap">
{
    "imports": {
    "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
}
</script>

<div id="app">
    <div class="container">
        <div class="header">
            <h1>Item Store</h1>
        </div>
        <div class="form-container">
            <form @submit.prevent="postForm">
                <div class="form-group">
                    <input class="form-control" v-model="items.user_id" name="user_id" placeholder="User ID"/>
                </div>
                <div class="form-group">
                    <input class="form-control" v-model="items.keywords" name="keywords" placeholder="Keywords"/>
                </div>
                <div class="form-group">
                    <input class="form-control" v-model="items.description" name="description" placeholder="Description"/>
                </div>
                <div class="form-group">
                    <input class="form-control" v-model="items.image" name="image" placeholder="Image URL"/>
                </div>
                <div class="form-group">
                    <input class="form-control" v-model="items.lat" name="lat" placeholder="Latitude"/>
                </div>
                <div class="form-group">
                    <input class="form-control" v-model="items.lon" name="lon" placeholder="Longitude"/>
                </div>
                <button class="btn btn-primary" data-action="create_item">Add</button>
            </form>
        </div>
        <ul class="item-list">
            <li class="item-card" v-for="item of itemsList">
                <img src="item.image" class="card-img-top">
                <span data-field="id">ID: {{item.id}}</span>
                <span data-field="user_id">User: {{item.user_id}}</span>
                <span data-field="keywords">Keywords: {{item.keywords}}</span>
                <span data-field="description">Description: {{item.description}}</span>
                <span data-field="lat">Latitude: {{item.lat}}</span>
                <span data-field="lon">Longitude: {{item.lon}}</span>
                <span data-field="date_from">Date Form: {{item.date_from}}</span>
                <span data-field="date_to">Date To: {{item.date_to}}</span>
                <button class="btn btn-danger" data-action="delete" @click="deleteItem(item.id)">Delete</button>
            </li>
        </ul>
    </div>
</div>

<script type="module">
import { createApp } from 'vue'
const urlParams = new URLSearchParams(window.location.search);
const urlAPI = (urlParams.get('api') || '/api/v1').replace(/\/$/, '');

if (!urlAPI) 
{
    const missingItem = document.createElement('h2')
    missingItem.textContent = "You need to connect the Client to Server "
    document.body.append(missingItem)
}

createApp({
    data() {
    return {
        message: 'Hello Vue!',
        items: {
                user_id: '',
                keywords: '',
                description: '',
                image: '',
                lat: '',
                lon: ''
            },
        itemsList :[],
    }
    },
    created(){
    this.clearForm()
    this.getItems()
    },
    methods:{
    clearForm(){
        console.log("Clearing the forms")
        //this.items.id = Math.random()
        this.items.user_id =''
        this.items.keywords =''
        this.items.description = ''
        this.items.image =''
        this.items.lat = ''
        this.items.lon = ''
    },
    postForm(){
            //console.log(this.items);
            fetch(`${urlAPI}/item`, {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(this.items),
            })
                .then(response => response.json())
                .then(json => console.log('posted got back stuff', json))
                .then(() => this.clearForm())
                .then(() => this.getItems())
            .catch(err => console.error(err));
    },
    getItems() {

        fetch(`${urlAPI}/items`, {
            method: 'GET',
        })
            .then(response => response.json())
            .then(json => {
                console.log("GET WORKS !! YEAH", json)
                this.itemsList = json  
            })
        .catch(err => console.error(err))
    },
    deleteItem(id){
        fetch(`${urlAPI}/item/${id}`, {
            method: 'DELETE',
        })
            .then(json => console.log('DELETED', json))
            .then(() => this.getItems())
        .catch(err => console.error(err));

    },
},
    
}).mount('#app')
</script>
</body>
</html>